run = "npm run dev"
entrypoint = "index.js"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-22", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_11"
packages = ["nix-output-monitor"]

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34113
externalPort = 3000

[[ports]]
localPort = 35603
externalPort = 3003

[[ports]]
localPort = 39011
externalPort = 3001

[[ports]]
localPort = 44377
externalPort = 3002

[[ports]]
localPort = 46389
externalPort = 4200

[[ports]]
localPort = 46729
externalPort = 5000

[agent]
expertMode = true
integrations = ["stripe:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
